body {
    background-color: #131313;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 25px;
    padding: 75px;
}
  
.visual-item-wrapper {
    position: relative;
}
  
.visual-img-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    width: 95%;
}

.image-blur {
    transition: 1s;
    filter: brightness(10%);
  }

.img-text-wrapper:hover .subtitle {
    color: lightseagreen;
    font-weight: 600;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    color: transparent;
    font-weight: 600;
}

.img-title {
    padding: 4px;
    margin: 4px;
    text-align: center;
}

.img-text-wrapper .img-title{
    transition: 1s;
    color: transparent;
    font-weight: 600;
}

.img-text-wrapper:hover #title {
    color: lightseagreen;
    font-weight: 600;
}

#title {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 25px;
    padding: 75px;
}

.visual-img-bg2 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 750px;
    width: 95%;
}